body,
html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#bgimg {
  height: 100%;
}


.position {
  width: 100%;
  position: absolute;
  top: 70%;
  left: 19%;
  transform: translate(-50%, -50%);
  text-align: center;
  filter: blur(.3px);
}



/* fade in animation*/

/* body */
.fade-in {
  animation: fadeIn ease-in 1.5s;
  animation-fill-mode: forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}




/* search box */
#search_box {
  opacity: 0.3;
  position: absolute;
  top: 95%;
  left: 19%;
  transform: translate(-50%, -50%);
  filter: blur(.3px);
  text-align: center;
  color: rgba(14, 172, 114, 0.5);
  overflow:hidden;
  width:260px;
  height:30px;
  border:none;
  outline: none;
}



/*quote of the day */
div.wrap {
  word-wrap: break-word;
  width: 20%;
}